.form-wrapper{
    text-align: center;
    position: absolute;
    left: 0;
    top: 15px;
    width: 50%;
}

.query-list{
    text-align: center;
    position: absolute;
    overflow: scroll;
    padding: 0;
    margin: 0;
    right: 0;
    width: 50%;
    height: 600px;
}

.query-table{
    width: 100%;
    border-collapse: collapse;
}

.document-number-input{
    text-align: center;
}

.table-header{
    margin: 0 0 10px 0;
    padding: 0;
    lin
}

.query-table-row:nth-child(2n-1):hover{
    background-color: #DDD
}

.query-table-row:nth-child(2n){
    background-color: #e8e6e4;
}

.query-table-row:nth-child(2n):hover{
    background-color: #CCC;
}

.query-table{
    overflow-y: auto;
    height: 100px;
}

.query-table thead th{
    position: sticky;
    background:#eee;
    top: 0;
    padding: 8px 16px;
}

td{
    padding: 8px 0 8px 0;
}

.query-result{
    padding-top: 50px;
}

.query-result-hidden{
    display: none;
}