version: '3'

volumes:
  pg-data:

services:
  web:
    build: .
    restart: always
    volumes:
      - .:/code/
    ports:
      - 8000:8000
    depends_on:
      - postgresql
      - redis
    command: python manage.py runserver 0.0.0.0:8000

  postgresql:
    image: postgres:latest
    restart: always
    volumes:
      - pg-data:/var/lib/postgresql/data/
    env_file:
      - conf/.env
    expose:
      - 5432

  redis:
    image: redis:latest
    restart: always
    expose:
      - 6379
